<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>
  
  <div th:fragment="infoDiv" >
  	<div id="resultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="">
    	<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5 class="modal-title" id="gridSystemModalLabel">详情</h5>
				</div>
				<div class="modal-body">
					<div id="tabs-result" class="tabbable" ><!-- Only required for left/right tabs -->
						<ul class="nav nav-tabs" id="nav-result">
							
						</ul>
						<div class="tab-content" id="tab-result">
							
						</div>
					</div>
				</div>
		  </div>
		</div>
	    
    </div>
  </div>
  
  </body>
  
</html>